<br><br><br>
<br><br><br>
 <div class="tag-search center container">
   <h1 class="text-lg-center"> <font color="white"> Find your Adventure today</h1>
   <div class="row center-block">
     <a href="/parks/search"><%= image_tag "city.png", size: "100x100", class:"img-rounded center-block" %></a>
     <%= image_tag "colo_circle", size: "100x100", class:"img-rounded center-block" %>
     <a href="parks/national_search"><%= image_tag "national_forest.png", size: "100x100", class:"img-rounded center-block" %></a>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/danielgindi-jquery-backstretch/2.1.13/jquery.backstretch.min.js"></script>
<script>
  $.backstretch("http://www.zastavki.com/pictures/originals/2013/Nature___Rivers_and_lakes_Rainbow_over_the_mountain_lake_041803_.jpg");
</script>
