// Place all the styles related to the weathers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.head-logo {
  height: 200px;
  margin: auto;
}

img.obey {
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  height: 100%;

}
table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
or:

table {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
