<br><br><br>
<br><br><br>
 <div class="tag-search center container">
   <h1 class="text-lg-center"> <font color="black"> Enter your zipcode to find the nearest parks</h1>
   <div class="row">
  <div class="col-md-4 col-md-offset-4">
     <form class="form-inline center" action="/parks/new">
     <div class="form-group">
       <label for="zipcode"></label>
       <input type="hidden" name="type" value="city" />
       <input type="zip" name="zip" class="form-control" id="zipcode" placeholder="zipcode">
     </div>
     <button type="submit" class="btn btn-primary">Search</button>
   </form>
</div>
 </div>
 <h4 class="text-lg-center"> <font color="white"> OutDoorAdventure is currently in BETA mode <br> & only works with Colorado zip codes</h4>     
 </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/danielgindi-jquery-backstretch/2.1.13/jquery.backstretch.min.js"></script>
<script>
  $.backstretch("http://img1.10bestmedia.com/Images/Photos/190708/DenverCityPark_54_990x660_201404231520.jpg");
</script>
