<!DOCTYPE html>
<html>
  <head>
    <title>Adventure Time</title>
      <link rel="stylesheet" media="all" href="/assets/application-23a7257820affa4a6133520a5e24c9491a61edacdf3e135eecc1a54d3b62b467.css" data-turbolinks-track="true" />
      <script src="/assets/application-6a795d714fc9bb9012123690b8e9555822a12653ab3a16fec33f74e4e953194d.js" data-turbolinks-track="true"></script>
      <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="rx6TQ1hNN2Puie48LdLppmvOcLcUWwGlMm67Ja+hMfxznNDGuLUNuU1T5yYGYb5WfLFdBU6uYHa9UhEg9G0TVg==" />
      <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  <body>

    <nav class="navbar navbar-dark bg-inverse">

	<div class="logo">
		<a href="/">tiny stay</a>
	</div>

	<ul class="nav navbar-nav pull-xs-right">

		<li class="nav-item nav-search">
		</li>

	  <li class="nav-item">

	  </li>

	  <li class="nav-item">
			<a class="nav-link" href="/login">Login</a>
		</li>

	  <li class="nav-item">
			<a href="/cart" class="nav-link">
	      0 Reservations - $0.00
			</a>
		</li>

	</ul>
</nav>




    <div id="background">

  <h1 class="center tagline">Find your tiny home today</h1>

  <div class="tag-search center container">
    <div class="row">

    <form class="form-group center" action="/homes" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
    <div class="dates" data-reserved=""></div>

      <div class="col-md-2 col-md-offset-2">
        <input type="text" name="location" id="location" class="form-control" placeholder="Where to?" />
      </div>
      <div class="col-md-2">
        <input type="text" name="checkin" id="checkin" class="date-picker form-control" placeholder="Arrival" />
      </div>
      <div class="col-md-2">
        <input type="text" name="checkout" id="checkout" class="date-picker form-control" placeholder="Departure" />
      </div>
      <div class="col-md-2">
        <input type="submit" name="commit" value="Search" class="btn btn-one btn-wide" />
      </div>
</form>    </div>
  </div>
</div>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danielgindi-jquery-backstretch/2.1.13/jquery.backstretch.min.js"></script>
    <script>
      $("#background").backstretch("https://s3.amazonaws.com/tinystays/spicebox-homes-MountainMansard7.jpg");
    </script>
  </body>
</html>
